CompileFlags:
  Add:
    - -DUSE_HAL_DRIVER
    - -DSTM32G431xx
    - -D__weak=__attribute__((weak))
    - -D__packed=__attribute__((__packed__))
    - -D__GNUC__=11
    - -D__GNUC_MINOR__=2
    - -D__GNUC_PATCHLEVEL__=1
    - -DARM_MATH_CM4
    - -D__FPU_PRESENT=1
    - -D__ARM_ARCH_7EM__=1
    - -D__ARM_FEATURE_DSP=1
    - -mcpu=cortex-m4
    - -mthumb
    - -mfpu=fpv4-sp-d16
    - -mfloat-abi=hard
    - -ICore/Inc
    - -IDrivers/STM32G4xx_HAL_Driver/Inc
    - -IDrivers/CMSIS/Device/ST/STM32G4xx/Include
    - -IDrivers/CMSIS/Include
    - -IAPP
    - -IAPP/cmd_task
    - -IAPP/motor_task
    - -IBSP
    - -IBSP/can
    - -IBSP/dwt
    - -IBSP/log
    - -IBSP/usart
    - -IBSP/flash
    - -IBSP/adc
    - -IMiddlewares/Third_Party/FreeRTOS/Source/include
    - -IMiddlewares/Third_Party/FreeRTOS/Source/CMSIS_RTOS
    - -IMiddlewares/Third_Party/FreeRTOS/Source/portable/GCC/ARM_CM4F
    - -IMODULES
    - -IMODULES/motor
    - -IMODULES/motor/core
    - -IMODULES/motor/control
    - -IMODULES/motor/algorithms
    - -IMODULES/motor/calibration
    - -IMODULES/motor/hal
    - -IMODULES/motor/foc_algorithm
    - -IMODULES/motor/foc_algorithm/foc_core
    - -IMODULES/motor/foc_algorithm/transform
    - -IMODULES/motor/foc_algorithm/driver
    - -IMODULES/motor/fsm
    - -IMODULES/motor/safety
    - -IMODULES/motor/state_machine
    - -IMODULES/encoder
    - -IMODULES/encoder/MT6816
    - -IMODULES/led
    - -IMODULES/communication
    - -IMODULES/communication/inovxio
    - -IMODULES/communication/canopen
    - -IMODULES/communication/mit
    - -IMODULES/parameter
    - -IMODULES/vofa
    - -IMODULES/daemon
    - -IMODULES/hal
    - -IMODULES/algorithm
Diagnostics:
  UnusedIncludes: None
  MissingIncludes: None
  Suppress:
    - unknown_compiler
