CompileFlags:
  Add:
    - -DUSE_HAL_DRIVER
    - -DSTM32G431xx
    - -D__weak=__attribute__((weak))
    - -D__packed=__attribute__((__packed__))
    - -D__GNUC__=11
    - -D__GNUC_MINOR__=2
    - -D__GNUC_PATCHLEVEL__=1
    - -DARM_MATH_CM4
    - -D__FPU_PRESENT=1
    - -D__ARM_ARCH_7EM__=1
    - -D__ARM_FEATURE_DSP=1
    - -mcpu=cortex-m4
    - -mthumb
    - -mfpu=fpv4-sp-d16
    - -mfloat-abi=hard
    - -Iplatform/Core/Inc
    - -Iplatform/Drivers/STM32G4xx_HAL_Driver/Inc
    - -Iplatform/Drivers/STM32G4xx_HAL_Driver/Inc/Legacy
    - -Iplatform/Drivers/CMSIS/Device/ST/STM32G4xx/Include
    - -Iplatform/Drivers/CMSIS/Include
    - -Iplatform/Middlewares/Third_Party/FreeRTOS/Source/include
    - -Iplatform/Middlewares/Third_Party/FreeRTOS/Source/portable/GCC/ARM_CM4F
    - -Iplatform/Middlewares/Third_Party/FreeRTOS/Source/CMSIS_RTOS
    - -Iplatform/Middlewares/ST/STM32_USB_Device_Library/Core/Inc
    - -Iplatform/Middlewares/ST/STM32_USB_Device_Library/Class/CDC/Inc
    - -Iplatform/USB_Device
    - -Iplatform/USB_Device/App
    - -Iplatform/USB_Device/Target
    - -Isrc/config
    - -Isrc/app
    - -Isrc/boot
    - -Isrc/hal
    - -Isrc/hal/bsp
    - -Isrc/hal/encoder
    - -Isrc
    - -Isrc/motor
    - -Isrc/foc
    - -Isrc/safety
    - -Isrc/comm
Diagnostics:
  UnusedIncludes: None
  MissingIncludes: None
  Suppress:
    - unknown_compiler
