build/
test/build/
test/build-ci/
MDK-ARM/DebugConfig/
MDK-ARM/VectorFOC/
MDK-ARM/.vscode/

*.o
*.obj
*.d
*.crf
*.dep
*.log
*.tmp
*.bak
*.swp
*.suo
*.user
*.pdb
*.idb
*.ilk
*.exp

# Keil user-specific files
*.uvguix.*
*.uvoptx
