# Build outputs
build/
build-*/
build_*/
test/build/
test/build-*/

# Keil / MDK-ARM
MDK-ARM/DebugConfig/
MDK-ARM/VectorFOC/
MDK-ARM/.vscode/
*.uvguix.*
*.uvoptx

# Tooling
.omc/

# Compiled objects & intermediates
*.o
*.obj
*.d
*.crf
*.dep
*.log
*.tmp
*.bak
*.swp
*.suo
*.user
*.pdb
*.idb
*.ilk
*.exp
*.elf
*.bin
*.hex
*.map
*.lst
